<div class="header-big  post-top css-color mb-4" id="search-bg" style="">
    <div class="s-search">
        <div id="search" class="s-search mx-auto">
            <div id="search-list-menu" class="hide-type-list">
                <div class="s-type text-center">
                    <div class="s-type-list big">
                        <div class="anchor" style="position: absolute; left: 50%; opacity: 0;"></div>
                        <label for="type-baidu"   data-id="group-a"><span>搜索</span></label>
                        <label for="type-douyin"  data-id="group-b"><span>影音娱乐</span></label>
                        <label for="type-taobao"  data-id="group-c"><span>网上购物</span></label>
                        <label for="type-lancers" data-id="group-d"><span>求职工作</span></label>
                        <label for="type-whois"   data-id="group-e"><span>网络工具</span></label>
                    </div>
                </div>
            </div>

            <form action="https://www.baidu.com/s?wd=" method="get" target="_blank" class="super-search-fm">
                <input type="text" id="search-text" class="form-control smart-tips search-key" zhannei="" placeholder="输入关键字搜索" style="outline:0" autocomplete="off">
                <button class="submit" type="submit"><i class="iconfont icon-search"></i></button>
            </form>

            <div id="search-list" class="hide-type-list">
                <div class="search-group group-a">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" checked="checked"
                                id="type-baidu"
                                value="https://www.baidu.com/s?wd=" 
                                data-placeholder="百度一下，你就知道">
                            <label for="type-baidu"><span class="text-muted">Baidu</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-google"
                                value="https://www.google.com/search?q=" 
                                data-placeholder="Google">
                            <label for="type-google"><span class="text-muted">Google</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-bing"
                                value="https://www.bing.com/search?q=" 
                                data-placeholder="微软Bing">
                            <label for="type-bing"><span class="text-muted">Bing</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-duckduckgo"
                                value="https://duckduckgo.com/?q=" 
                                data-placeholder="DuckDuckGo">
                            <label for="type-duckduckgo"><span class="text-muted">DuckDuckGo</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-yandex"
                                value="https://yandex.com/search/?text=" 
                                data-placeholder="Yandex">
                            <label for="type-yandex"><span class="text-muted">Yandex</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-github"
                                value="https://github.com/search?q=" 
                                data-placeholder="Github">
                            <label for="type-github"><span class="text-muted">Github</span></label>
                        </li>
                    </ul>
                </div>
                
                <div class="search-group group-b">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" 
                                id="type-douyin" 
                                value="https://www.douyin.com/search/" 
                                data-placeholder="抖音">
                            <label for="type-douyin"><span class="text-muted">抖音</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-kuaishou" 
                                value="https://www.kuaishou.com/search/video?searchKey=" 
                                data-placeholder="快手">
                            <label for="type-kuaishou"><span class="text-muted">快手</span></label>
                        </li> 
                        <li><input hidden="" type="radio" name="type" 
                                id="type-youtube" 
                                value="https://www.youtube.com/results?search_query=" 
                                data-placeholder="Youtube">
                            <label for="type-youtube"><span class="text-muted">Youtube</span></label>
                        </li>
                    </ul>
                </div>

                <div class="search-group group-c">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" 
                                id="type-taobao" 
                                value="https://s.taobao.com/search?q=" 
                                data-placeholder="淘宝">
                            <label for="type-taobao"><span class="text-muted">淘宝</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-jd" 
                                value="https://search.jd.com/Search?keyword=" 
                                data-placeholder="京东">
                            <label for="type-jd"><span class="text-muted">京东</span></label> 
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-pdd"
                                value="https://pinduoduo.com/Search?keyword=" 
                                data-placeholder="拼多多">
                            <label for="type-pdd"><span class="text-muted">拼多多</span></label> 
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-xiachufang" 
                                value="https://www.xiachufang.com/search/?keyword=" 
                                data-placeholder="下厨房">
                            <label for="type-xiachufang"><span class="text-muted">下厨房</span></label>
                        </li>
                    </ul>
                </div>
                
                <div class="search-group group-d">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" 
                                id="type-lancers" 
                                value="https://www.lancers.jp/work/search?open=1&keyword=" 
                                data-placeholder="搜索マクロ">
                            <label for="type-lancers"><span class="text-muted">Lancers</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-kokonara" 
                                value="https://coconala.com/requests?keyword=" 
                                data-placeholder="搜索マクロ">
                            <label for="type-kokonara"><span class="text-muted">ココナラ</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-upwork" 
                                value="https://www.upwork.com/nx/search/jobs/?nbs=1&q=" 
                                data-placeholder="搜索japan">
                            <label for="type-upwork"><span class="text-muted">Upwork</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-fiverr" 
                                value="https://www.fiverr.com/search/gigs?query=" 
                                data-placeholder="搜索japan">
                            <label for="type-fiverr"><span class="text-muted">Fiverr</span></label>
                        </li>
                    </ul>
                </div>
                
                <div class="search-group group-e">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" 
                                id="type-whois"
                                value="https://who.is/whois/" 
                                data-placeholder="请输入网址(不带 https://)">
                            <label for="type-whois"><span class="text-muted">whois查询</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-ping"
                                value="https://ping.chinaz.com/"
                                data-placeholder="请输入网址(不带 https://)">
                            <label for="type-ping"><span class="text-muted">ping检测</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-br"
                                value="https://rank.chinaz.com/all/"
                                data-placeholder="请输入网址(不带 https://)">
                            <label for="type-br"><span class="text-muted">权重查询</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-links"
                                value="https://link.chinaz.com/" 
                                data-placeholder="请输入网址(不带 https://)">
                            <label for="type-links"><span class="text-muted">友链检测</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-404"
                                value="https://tool.chinaz.com/Links/?DAddress="
                                data-placeholder="请输入网址(不带 https://)">
                             <label for="type-404"><span class="text-muted">死链检测</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-ciku"
                                value="https://www.ciku5.com/s?wd=" 
                                data-placeholder="请输入关键词">
                            <label for="type-ciku"><span class="text-muted">关键词挖掘</span></label>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="card search-smart-tips search-hot-text">
                <ul id="word" style="display: none"></ul>
            </div>
        </div>
    </div>
    <!--div class="bulletin-big mx-3 mx-md-0">
        <div id="bulletin_box" class="card my-2">
            <div class="card-body py-1 px-2 px-md-3 d-flex flex-fill text-xs text-muted">
                <div><i class="iconfont icon-bulletin" style="line-height:25px"></i></div>
                <div class="bulletin mx-1 mx-md-2 carousel-vertical">
                    <div class="carousel slide" data-ride="carousel" data-interval="3000">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active"><a class="overflowClip_1"
                                    href="#">所长导航 - 用心精选每一个链接</a></div>
                            <div class="carousel-item "><a class="overflowClip_1"
                                    href="#">所长导航 - 有范的导航网站</a></div>
                        </div>
                    </div>
                </div>
                <div class="flex-fill"></div>
                <a title="关闭" href="javascript:;" rel="external nofollow" class="bulletin-close"
                    onclick="$('#bulletin_box').slideUp('slow');"><i class="iconfont icon-close"
                        style="line-height:25px"></i></a>
            </div>
        </div>
    </div-->
</div>
